@import './styles/variable';
@import './styles/normalize';
@import './styles/default';
@import './styles/font';

body {
	min-height: 100vh;

	font-family: $f-lib;
	font-size: 14px;
	letter-spacing: .4px;
	align-items: center;
	background-color: $bgborder;

	> iframe {
		display: none !important;
	}
}


#root {
	// overflow: hidden;
	position: relative;
	z-index: 1;

	min-height: 100vh;
	width: 100%;
	// max-width: 414px;

	opacity: 0;
	transition: opacity .7s;

	&.is-ready {
		opacity: 1;
	}
}

#loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;

	opacity: 0;
	transition: opacity .3s;

	&.is-active {
		opacity: 1;
	}
}

.showme {
	animation: showme .3s cubic-bezier(0, 0, 0.35, 1.56) 0s 1 normal none;
}

@keyframes showme {
	0% {
		opacity: 0;
		transform: scale(.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@media screen and (min-width: 1024px) {
	#root {
		box-shadow: rgba(0, 0, 0, .45) 0 0 20px;
	}
}

@media screen and (min-width: 414px) {
	#root {
		max-width: 414px;
	}
}

@media screen and (min-width: 1024px) {
	#root {
		max-width: 1024px;
	}
}

@media screen and (min-width: 1025px) {
	#root {
		max-width: 100%;
	}
}

// @media screen and (min-width: 1280px) {
// 	#root {
// 		max-width: 1280px;
// 	}
// }

// @media screen and (min-width: 1440px) {
// 	#root {
// 		max-width: 1440px;
// 	}
// }

// @media screen and (min-width: 1920px) {
// 	#root {
// 		max-width: 1920px;
// 	}
// }