doctype html
html(lang='en')
	head
		title
			| God's DNA Conference 2019
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name="apple-mobile-web-app-capable" content="yes")

		block head

		link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap" rel="stylesheet")
		link(rel='manifest' href='site.webmanifest')
		link(rel='apple-touch-icon' href='assets/img/app-icon.png')
		link(rel='icon' href='assets/img/gdnablack.png' type='image/png' sizes='32x32')
		<!-- jss-insertion-point -->
	body
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		block loader
			include ./view.loader.pug

		section#root(style="visibility:hidden; pointer-events: none;")

		block script
