section#loader.is-active(centering style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;")
	svg(width="64" height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid")
		defs
			filter#tail(x="-100%" y="-100%" width="300%" height="300%" color-interpolation-filters="sRGB")
				feGaussianBlur(in="SourceGraphic" stdDeviation="3")
				feColorMatrix(mode="matrix" values="1 0 0 0 0   0 1 0 0 0   0 0 1 0 0   0 0 0 60 -40" result="cm")
		g.ld-circle(filter="url(#tail)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
			g.ld-circle2
				circle.ld-circle3(transform="translate(50 20)")
		style
			| .ld-circle(transform-origin: center; animation: ld-circle 4s linear infinite;)
			| .ld-circle2(transform-origin: center; animation: ld-circle 1s ease-in-out infinite;)
			| .ld-circle3(fill: #000; r: 12;)
			| @keyframes ld-circle { 0% { -webkit-transform: rotate(0); transform: rotate(0); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
			| @-webkit-keyframes ld-circle { 0% { -webkit-transform: rotate(0); transform: rotate(0); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

